.modal-dialog
  .modal-content
    .modal-header
      %h4.modal-title
        %strong
          = @quiz_answer_key.title
        .pull-right
          = I18n.t('quiz_item.new')
    = simple_nested_form_for @quiz_item do |f|
      .modal-body
        .form-inputs
          = f.input :quiz_answer_key_id, as: :hidden, input_html: { value: @quiz_answer_key.id }
          = f.input :instructions, as: :text, label: I18n.t('quiz_item.instructions')
          = f.input :question, as: :text, label: I18n.t('quiz_item.question')
          %table.table.table-striped.table-bordered
            = f.simple_fields_for :choices, wrapper: false do |c|
              %tr.fields
                %td
                  = c.input :content, as: :text, label: false, placeholder: I18n.t('choice.answer')
                = c.input :is_correct, as: :hidden, label: false, input_html: { value: true }
      .modal-footer
        .form-actions
          = button_tag I18n.t('cancel'), class: 'btn btn-default', "data-dismiss": 'modal', "aria-hidden": 'true'
          = f.button :submit, I18n.t('create'), data: { disable_with: I18n.t('sProcessing') }, class: 'btn btn-primary submit_button'

%script{"type": 'text/javascript'}
  :plain
    window.nestedFormEvents.insertFields = function(content, assoc, link) {
      if($(link).hasClass('choice-add-row')) {
        var $tr = $(link).closest('tr');
        return $(content).insertBefore($tr);
      }
      else {
        return $(content).insertBefore(link);
      }
    }

    $(document).ready( function() {
      $('.submit_button').prop('disabled', true);
    });

    $('#quiz_item_question').on('keyup', function () {
      $('.submit_button').prop('disabled', ($(this).val() == ""));
    });
