!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : I18n.t('quiz_master')
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : I18n.t('quiz_master')}"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      = render 'layouts/navigation'
      - if current_user.blank?
        .container
          .row
          .col-md-4.col-md-offset-4
            .login-panel.panel.panel-primary
              .panel-heading
                .panel-title
                  %strong
                    = I18n.t('quiz_master')
              .panel-body
                .row
                  = render 'layouts/messages'
                .row
                  .col-lg-12
                    = yield
        %br
        %br

      - else
        #page-wrapper
          .row
            = render 'layouts/messages'
          .row
            .col-lg-12
              = yield
    #footer.text-center &copy; 2017 ghtobias
